.main-nav ul li a.active {
    background-color: #1e88e5;
    color: #fff;
}

.reclamos-content .top-area {
    background-color: #e3f2fd;
    color: #1e88e5;
}

.reclamos-content .top-area h2 {
    color: #1e88e5;
}